<html>
  <head>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    
  google.charts.load('current', {packages:['corechart']});
  google.charts.setOnLoadCallback(drawStats);

  function drawStats() {

   var data = new google.visualization.DataTable();
   data.addColumn('string', 'user');
   data.addColumn('number', 'Overall Hours');
   data.addColumn('number', 'Distracting Hours');

   {% for row in stats_table %}
   data.addRow({{ row|safe }});
   {% endfor %}
  
   var chartOptions = {
    title: "{{title}}",
    titleTextStyle: {color: 'black', fontSize: 25},
    
    legend: { 
          position: 'top' 
      
        },
   
    chartArea:{left:'10%',width:'85%',height:'70%'},
    fontSize: 32,
   }

   
   var chart = new google.visualization.BarChart(
      document.getElementById('chart_div'));
   chart.draw(data, chartOptions);
  }


    </script>
  </head>
  <body>

    <h2>{{ open_msg_1 }}</br>
     {{open_msg_2}} </h2>
    
    <div id="chart_div" style=" width: 85%;
    height: 85%; position: relative;
    top: 0; right: 0; bottom: 0; left: 0; 
    "></div>
    <h2> {{ winner }} - {{winner_msg}}   {{ losser }} - {{losser_msg}} </h2>
  </body>
</html>

