<html>
  <head>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    
      google.charts.load('current', {packages:['corechart']});
      google.charts.setOnLoadCallback(drawStats);

      function drawStats() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'user');
      data.addColumn('number', 'Overall Hours');
      data.addColumn('number', 'Distracting Hours');

      {% for row in stats_table %}
      data.addRow({{ row|safe }});
      {% endfor %}
      
      var chartOptions = {
        title: "{{title}}",
        titleTextStyle: {color: 'black', fontSize: 28},
        hAxis: {title: "{{x_axis_label}}", titleTextStyle: {fontSize: 22, italic: false},},
        
        legend: { 
              position: 'top' 
          
            },
      
        chartArea:{left:'15%',width:'85%',height:'75%'},
        fontSize: 28,
      }

      
      var chart = new google.visualization.BarChart(
          document.getElementById('chart_div'));
      chart.draw(data, chartOptions);
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;800&display=swap" rel="stylesheet">
    
    <style>
        html * {
            font-family: 'Sora', sans-serif !important;
        }
    </style>
 
  </head>

  <body>
 
    <h1>{{ open_msg_1 }}</br>
     {{open_msg_2}} </h1>
 
    
    <div id="chart_div" style=" width: 95%; height: 80%; position: relative; top: 0; right: 0; bottom: 0; left: 0;"></div>
    
    <h1> {{ winner }} - {{winner_msg}}   {{ losser }} - {{losser_msg}} </h1>

  </body>
</html>

